/*ШРИФТЫ*/

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('fonts/tex/texgyreadventor-regular-webfont.eot');
    src: url('fonts/tex/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tex/texgyreadventor-regular-webfont.woff') format('woff'),
         url('fonts/tex/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('fonts/tex/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Общие стили*/
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
/* End of Yahoo! CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	 font-family: 'texgyreadventorregular';
	 font-size: 14px;
	width: 100%;
	height: 100%;
	color: #202639;
	line-height: 1.2;
}

a 
{
	color: #25B8D7;
	text-decoration: underline;
}
img
{
	max-width: 980px; 
}
a:hover
{
	text-decoration: none;
}

p
{
	margin-bottom: 10px;
	display: block;
}
strong
{
	font-weight: bold;
}
h1,h2,h3
{
	font-weight: normal;
}

h1
{
	margin-bottom: 15px;
}
h2, h3
{
	margin-bottom: 10px;
}
h2 i
{
	margin-right: 10px;
}
hr
{
	border: none;
	display: block;
	border-bottom: 1px solid #202639;
	margin: 5px 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.container
{
	width: 980px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.table
{
	display:table;
	border-collapse:separate;
	border-spacing:5px;
	width: 100%;
}

.cell
{
	display:table-cell;
	padding:5px;
    vertical-align: middle;
}

.row 
{
	display:table-row;
	width: 100%;
}

.ta_left
{
	text-align: left;
}

.ta_right
{
	text-align: right;
}

.ta_center
{
	text-align: center;
}

.btn
{
	text-decoration: none;
	border: 1px solid #25B8D7;
	background: #fff;
	padding: 4px 10px;
	    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
    cursor: pointer;
    color: #25B8D7;
}

.btn i
{
	margin-left: 7px;
	font-size: 1.1em;
	vertical-align: middle;
}

.btn:hover
{
	background: #25B8D7;
	color: #fff;
}

.info_i i
{
	margin-right: 10px;
	vertical-align: middle;
}

input[type="text"]
{
	border: 1px solid #25B8D7;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 5px 10px;
}

.grey_bg
{
	background: #EDF1F5;
	padding: 20px 0;
	margin-bottom: 30px;
}

/*radio + checkbox*/
.checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 45px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 35px;
  height: 16px;
  border-radius: 16px;
   border: 1px solid #202639;
  background: #FFF;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #FFF;
  border: 1px solid #202639;
  transition: all .2s;
}
.checkbox:checked + label:before {
  background: #25B8D7;
}
.checkbox:checked + label:after {
  left: 20px;
}
.checkbox:focus + label:before {

}

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px;
  margin-right: 20px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #202639;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #202639;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {

}
/* Header
-----------------------------------------------------------------------------*/
body {
	position: relative;

}

.header .logo img
{
height: 80px;
}

.top_menu ul
{
	list-style-type: none;
}

.top_menu ul li
{
	display: inline-block;
	margin: 0 5px;
	position: relative;
}

.top_menu ul li i
{
	margin-right: 10px;
	font-size: 18px;
	cursor: pointer;
}

.top_menu ul li i:hover
{
	color: #25B8D7;
}

.top_menu ul li a
{
	text-transform: uppercase;
	color: #202639;
	text-decoration: none;
	margin-bottom: 8px;
	display: inline-block;
}
.top_menu ul li a:hover
{
	text-decoration: underline;
}

.top_menu ul li:hover ul.child
{
	display: block;
}

.top_menu ul li ul.child
{
display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #202639;
    margin: 0;
    padding: 10px 15px;
    z-index: 200;
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.top_menu ul li ul.child::before
{
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 9px solid #202639;
    border-bottom-color: #202639;
    position: absolute;
    top: -9px;
    left: 30px;

}

.top_menu ul li ul.child li
{
	    display: block;
    text-align: left;
    margin: 0;
    width: 200px;
    margin-bottom: 3px;
}

.top_menu ul li ul.child li:last-child
{
	margin-bottom: 0;
}

.top_menu ul li ul.child li a
{
	text-transform: none;
	margin: 0;
}

.standart_bg
{
	background: #F4DD1A;
}

/*tabs*/
ul#tabs {
    list-style-type: none;
    padding: 0;
      text-align: left;
  margin: 0 0 25px 0;
  width: auto;
}
ul#tabs li {
    padding: 7px 20px;
    margin-bottom: 4px;
    color: #202639;
    background-color: #FFF;
    border: 1px solid #202639;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
ul#tabs li i
{
	margin-left: 10px;
	font-size: 16px;
	vertical-align: middle;
}
ul#tabs li:hover {
    background-color: #25B8D7;
    border: 1px solid #25B8D7;
    color:#fff;
}
ul#tabs li.active {
    background-color: #25B8D7;
    border: 1px solid #25B8D7;
    color:#fff;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
      padding-left: 5px;
}
ul#tab li.active {
    display: list-item;
}

ul#tab li li
{
  display: list-item;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	position: relative;
	padding: 0 0 100px;
	    width: 100%;
    min-width: 1000px;
}
.nagruzka_arr
{
	margin: 5px 0;
	height: 20px;
}
.nagruzka_arr i
{
color: #202639;
font-size: 20px;
margin: 0 20px;
display: none;
}

.chrcs_profile ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

.chrcs_profile ul li
{
	vertical-align: middle;
	margin-bottom: 10px;
}

.chrcs_profile ul li img
{
	width: 80px;
	vertical-align: middle;
	margin-right: 30px;
}

.chrcs_profile ul li div.txt_info
{
display: inline-block;
vertical-align: middle;
width: 800px;	
}
.chertegi
{
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

.chertegi li
{
	margin-bottom: 30px;
	/*border-bottom: 1px dashed #25B8D7; */ 
}


.profile_table
{
	font-size: 12px;
	width: 100%;
}

.main_ch
{
	text-align: center;
	margin-top: 30px;
}

.profile_table tr:nth-child(1) td,
.profile_table tr:nth-child(2) td
{
	padding: 0;
	 background: #f0f0f0;

}

.profile_table tr td:nth-child(1)
{
	padding-left: 10px;
}

  .profile_table tr:nth-child(2n) {
    background: #f0f0f0;
   } 


.profile_table td
{
	vertical-align: middle;
	padding: 5px 0;
}

.profile_table td p
{
	margin: 0;
}

/*Услуги*/
.services
{
	text-align: center;
	position: relative;
}
.services #serv_txt
{
    width: 200px;
    position: absolute;
    top: 150px;
    left: 100px;
}


.services #serv_txt h3
{
	color: #25B8D7; 
	text-transform: uppercase;
}

.div_svg_serv
{
	position: relative;
		width: 400px;
	margin: -230px auto 0 auto;
}

#services
{
	width: 400px;
	height: 400px;
}

.big_img_serv
{
margin-top: 20px;
}

.num_serv
{
	list-style-type: none;
	margin-top: 30px;
}

[id^="serv"]
{
cursor: pointer;
}

#all_servs circle,
#serv_txt
{
	cursor: text;
}



.num_serv li
{
	text-align: left;
	width: 430px;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 15px;
	margin-left: 15px;
}

.num_serv li div.num
{
	display: inline-block;
	vertical-align: top;
	font-size: 40px;
	margin-right: 15px;
}

.num_serv li h3
{
	color: #25B8D7; 
	text-transform: uppercase;
}

.num_serv li div.txt_serv
{
	display: inline-block;
	width: 360px;
	vertical-align: top;
}


/*реализованные проекты*/
.prjts_board
{
	text-align: center;
}

.prjts_list,
.prjts_board
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.prjts_board li
{
	position: relative;
	display: inline-block;
	margin: 0 20px 20px 0;
}
.prjts_board li div.txt_div
{
	position: absolute;
	z-index: 100;
	top: 10px;
	width: 180px;
	text-align: center;
	padding: 10px;
	opacity: 0;
}

.prjts_board li div.txt_div p
{
	color: #fff;
	font-size: 18px;
}

.prjts_board .txt_div a.btn
{
/*background: transparent;*/
}

.prjts_list li
{
margin-bottom: 30px;
}

.prjts_list .prjs_item_list
{
	vertical-align: top;
	display: table;
	width: 100%;
}
.prjts_list .prjs_item_list .prjs_item_img
{
display: table-cell;
width: 200px;
vertical-align: top;
}

.prjs_item_list .prjs_item_img a
{
margin-right: 30px;	
display: inline-block;
position: relative;
}

.prjts_board .prjs_item_img a
{
	display: inline-block;
}

.prjs_item_list .prjs_item_img a i,
.prjts_board .prjs_item_img a i
{
	font-size: 40px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	z-index: 100;
	opacity: 0;
	transition: .5s;
}

.prjs_item_list .prjs_item_img a::after,
.prjts_board .prjs_item_img a::after
{
	content: "";
	transition: .7s;
	background: rgba(32, 38, 57, 0.5);
	width: 200px;
	height: 200px;
	display: inline-block;
	position: absolute;
	left: 0;
	opacity: 0;
}

.prjs_item_list .prjs_item_img a:hover::after,
.prjts_board li:hover > div.prjs_item_img a::after
{
	opacity: 1;

}

.prjts_board li:hover > div.txt_div
{
	opacity: 1;
}

.prjs_item_list .prjs_item_img a:hover > i,
.prjts_board li:hover > div.prjs_item_img a i
{
	opacity: 1;
}

.prjts_list .prjs_item_list .prj_list_txt
{
display: table-cell;
vertical-align: top;
}

.prjts_list .prj_list_txt .date
{
	margin-bottom: 5px;
}

.prjts_list .prj_list_txt a
{
	margin-bottom: 10px;
	display: inline-block;
}

.prjts_list .prj_list_txt .date i
{
	margin-right: 10px;
	font-size: 16px;
	vertical-align: middle;
}


.filter_cp .type_cp_now
{
	display: inline-block;
padding: 5px 20px;
border: 1px solid #202639;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 10px;
}


.filter_cp .type_cp_now i
{
	margin-left: 10px;
	vertical-align: middle;
	font-size: 16px;
	position: relative;
}

.filter_cp .type_cp_now:hover
{
	border: 1px solid #25B8D7; 
	background: #25B8D7; 
	color: #fff;
}

.filter_cp
{
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

.left_cp,
.right_cp
{
	display: inline-block;
	vertical-align: top;
}

.right_cp
{
	float: right;
}

.type_view_btn
{
		display: inline-block;
padding: 5px 20px;
border: 1px solid #202639;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.active_view,
.type_view_btn:hover
{
	background: #25B8D7; 
	color: #fff;
	border: 1px solid #25B8D7;  
}

.type_view_btn i
{
	font-size: 16px;
}

.filter_cp .type_cp_list
{
display: none;
position: absolute;
left: 0;
top: 35px;
width: 215px;
z-index: 120;
}

.filter_cp .type_cp_list ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #fff;
}

.filter_cp:hover > .type_cp_list,
.filter_cp .type_cp_list:hover
{
display: inline-block;
}

.filter_cp:hover > .type_cp_now
{
	border: 1px solid #25B8D7; 
	background: #25B8D7; 
	color: #fff;
}

.filter_cp .type_cp_list ul
{
	display: inline-block;
	border: 1px solid #25B8D7; 
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.filter_cp .type_cp_list ul li
{
	padding: 5px 10px;
	border-bottom: 1px solid #25B8D7;
	color: #25B8D7;
	cursor: pointer; 
}

.filter_cp .type_cp_list ul li:hover
{
	color: #fff;
	background: #25B8D7;
}

.filter_cp .type_cp_list ul li i
{
	margin-right: 5px;
	width: 20px;
	text-align: center;
}

.filter_cp .type_cp_list ul li:last-child
{
	border-bottom: none;
}

.filter_cp .type_cp_list ul li:first-child:hover
{
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.filter_cp .type_cp_list ul li:last-child:hover
{
	-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
	
}







.detail_profile .top_info
{
	    display: flex;
	    display: -webkit-flex;
	    width: 100%;
	    overflow: hidden;
	    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
        margin: 0 auto;
        position: relative;
            padding: 0 0 35px 0;
}

.detail_profile .top_info .right_div
{
width: 490px;
float: left;
height: 310px;
}

.detail_profile .txt_profile ul
{
list-style-type: none;
margin: 0 0 30px 30px;
padding: 0;
}
.detail_profile .txt_profile ul li
{
	margin-bottom: 5px;
}

.detail_profile .txt_profile ul li::before
{
	content: "\f046";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    margin-right: 5px;
}

.detail_profile .top_info .right_div img
{
	border: 5px solid #F4DD1A;
}

.detail_profile .top_info .left_div
{
float: right;
height: 250px;
width: 430px;
padding: 30px;
}

.detail_profile .docs_btns img
{
height: 40px;
}

.detail_profile .docs_btns a
{
	margin-right: 10px;
}

.products_div
{
	margin-top: -300px
}
.product_info h2
{
text-align: center;
}
.product_info h2 img
{
vertical-align: middle;
width: 40px;
margin-right:10px;
}

.product_info h2 span
{
vertical-align: middle;
}

#products_svg
{
	margin: auto;
	width: 450px;
	position: relative;
	opacity: 0.8;
}
#standart_s,
#heavy_s,
#hydro_s,
#metall_s,
#decor_s,
#cicle_prd
{
	cursor: pointer;
}



.prd_tbl 
{
	margin-bottom: 50px;
}

.prd_tbl table
{
	width: 100%;
}

.prd_tbl table tr:nth-child(1),
.prd_tbl table tr:nth-child(2)
{
    color: #202639;
}
.prd_tbl table tr:nth-child(1) td,
.prd_tbl table tr:nth-child(2) td
{
border-style:solid;
border-width:1px;
border-collapse:collapse;
border-color: #fff;	
}

.prd_tbl table tr td
{
	padding: 5px 10px;
	text-align: center;
	position: relative;
}

.prd_tbl table.standart tr:nth-child(1),
.prd_tbl table.standart tr:nth-child(2)
{
	background: #F5DC17;
	font-size: 12px;
}

.prd_tbl table.heavy tr:nth-child(1),
.prd_tbl table.heavy tr:nth-child(2)
{
	background: #3CAB50;
	font-size: 12px;
}


.prd_tbl table.hydro tr:nth-child(1),
.prd_tbl table.hydro tr:nth-child(2)
{
	background: #25B8D7;
	font-size: 12px;
}


.prd_tbl table.metall tr:nth-child(1),
.prd_tbl table.metall tr:nth-child(2)
{
	background: #CC3717;
	font-size: 12px;
}

.prd_tbl .dop_info
{
	position: absolute;
	top: 10px;
	right: 0;
	color: #CC3717;

}


.prd_tbl table tr:nth-child(1) td:nth-child(1){width: 100px;}
.prd_tbl table tr:nth-child(1) td:nth-child(2){width: 80px;}
.prd_tbl table tr:nth-child(1) td:nth-child(4){width: 100px;}
.prd_tbl table tr:nth-child(1) td:nth-child(5){width: 120px;}
.prd_tbl table tr:nth-child(1) td:nth-child(6){width: 80px;}



.prd_tbl td:nth-child(1) img
{
	width: 100px;
	height: 60px;
}

.prd_tbl tr td:nth-child(8),
.prd_tbl tr td:nth-child(9),
.prd_tbl tr td:nth-child(10),
.prd_tbl tr td:nth-child(11)
{
	padding: 5px 0px;
}

.prd_tbl tr td:nth-child(12) img,
.prd_tbl tr td:nth-child(13) img
{
	height: 30px;
}

  .prd_tbl table tr:nth-child(2n) {
    background: #f0f0f0; /* Цвет фона */
   } 

.prd_tbl .disk
{
	display: inline-block;
	width: 6px;
	height: 6px;
	        border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #202639;
}

 table.tbl { 
    width: 100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
     border: 1px solid #314DA1; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   table.tbl tr:nth-child(2n) {
    background: #f0f0f0; /* Цвет фона */
   } 

   table.tbl td
   {
    padding: 5px;
    border: 1px solid #314DA1;
   }

   table.tbl td p
   {
    margin: 0 0 5px 0;
   }

.product_info
{
	width: 230px;
	margin: auto;
	z-index: 300;
	position: relative;
	margin-top: -340px;
	color: #fff;
	margin-bottom: 150px;
}

.prj_about
{
	text-align: center;
	margin-top: 30px;
}

.prj_about h2
{
	text-align: left;
	margin-bottom: 15px;
}

.prj_about ul
{
	list-style-type: none;
	display: table;
	margin: 0 0 30px 0;
	padding: 0;
}
.prj_about ul li
{
	display: table-cell;
	padding: 0 10px;
	vertical-align: top;
}

.prj_about ul li a div.cicle_img 
{
background: #25B8D7;
display: inline-block; 
padding: 20px;
	border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 10px solid #ABD2F1;
    transition:all 0.3s ease;
    opacity: 0.8;
}

.prj_about ul li a:hover div.cicle_img 
{
 -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

.prj_about ul li a img
{
	width: 50px;
	height: 50px;
}
.prj_about ul li a 
{
	text-decoration: none;
}

.prj_about ul li a span
{
	display: block;
	width: 115px;
	margin-top: 15px;
}

.certs
{
  text-align: center;
}
.certs ul
{
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 30px 0 0 0;
}
.certs ul li
{
display: table-cell;
vertical-align: top;
padding: 0 10px;
}

.certs ul li a
{
	position: relative;
	display: inline-block;
	padding: 25px;
}

.certs ul li a:after
{
	background: url(images/sert/ramka.png);
	background-repeat: no-repeat; 
	background-size: 250px; 
	height:350px; 
	width:250px; 
	display:block; 
	content: ' '; 
	position:absolute; left:0; 
	top:0

}

.certs ul li img
{
width: 200px;
height: 300px;
}

.sert_about
{
	margin-top: 30px;
}

.sert_about .cell
{
	vertical-align: middle;
}

.sert_about h2
{
margin-bottom: 20px;
}

.sert_about img
{
width: 200px;
display: inline-block;
margin-right: 50px;
vertical-align: middle;
}
.sert_about p
{
	margin-bottom: 30px;
}

.usl_about ul
{
	margin: 0 0 30px 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
.usl_about 
{
	text-align: center;
}

.usl_about
{
	margin-top: 30px;
}

.usl_about h2
{
	text-align: left;
	margin-bottom: 20px;
}

.usl_about ul li
{
	display: table-cell;
	width: 280px;
	padding: 0 15px;
}

.usl_about ul li img
{
	width: 280px;
	margin-bottom: 10px;
}


.page
{
padding: 30px 0 0 0;
}

.page_big_img
{
	margin-bottom: 30px;
	max-width: 980px !important;
}

.bx-breadcrumb {

}
.bx-breadcrumb i {
	color: #fff;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
	margin-bottom: 10px;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
	margin-right: 10px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none; color: #fff;}
.bx-breadcrumb .bx-breadcrumb-item a:hover {}


table.prf_menu
{
	width: 100%;
}

table.prf_menu td ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
table.prf_menu td ul li
{
	margin-bottom: 0;
}

table.prf_menu td ul li a
{
	text-decoration: none;
		padding: 5px 10px;
		display: block;
		color: #202639;
}

table.prf_menu td ul li a:hover
{
	text-decoration: underline;
}

table.prf_menu td ul li:last-child
{
	margin-bottom: 0;
}

table.prf_menu td
{
	vertical-align: top;
	padding: 10px 0px;
}

table.prf_menu tr:nth-child(1) td
{
	vertical-align: middle;
	border-bottom: 1px solid #9D9C9C;
	/*border-right: 1px solid #9D9C9C;*/
	text-align: left;
}

table.prf_menu tr:nth-child(1) td:last-child
{
	border-right: none;
}

table.prf_menu tr:nth-child(1) span
{
	vertical-align: middle;
	font-size: 18px;
}

table.prf_menu tr:nth-child(1) img {
    vertical-align: middle;
    max-width: 30px;
    max-height: 30px;
    margin-right: 15px;
}

.standart_menu li a:hover
{
	background: #FAE00F;
}

.heavy_menu li a:hover
{
	background: #35A848;
}

.hydro_menu li a:hover
{
	background: #25B8D7;
}

.metall_menu li a:hover
{
	background: #CE3717;
}

/*
table.prf_menu li a img
{
	vertical-align: middle;
	margin: 0 3px;
}

table.prf_menu li a span
{
	margin-right: 10px;
}*/


.language
{
position: relative;
}

#lang_now
{
	border: 1px solid #25B8D7; 
	display: inline-block;
	padding: 3px 5px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #25B8D7; 
    cursor: pointer;
}

.lang_list
{
	display: none;
	position: absolute;
	right: 0;
	top: 28px;
	border: 1px solid #25B8D7; 
	    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 100;
    background: #fff;
    font-size: 12px;
    vertical-align: middle;
}

.lang_list ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

.lang_list ul li
{
	text-align: left;
	cursor: pointer;
	padding: 3px 5px;
	border-bottom: 1px solid #25B8D7; 
}

.lang_list ul li:hover
{
	background: #25B8D7;
	color: #fff;
}

.lang_list ul li:last-child
{
	border-bottom: none;
}

.lang_list ul li img
{
margin-right: 3px;
}

#lang_now img,
#lang_now i,
.lang_list ul li img
{
	vertical-align: middle;
}
#lang_now i
{
	margin-left: 3px;
}

.blue_div
{
	background: #25B8D7;
	color: #fff;
	padding: 20px 0;
}

.blue_div p
{
	margin-top: 15px;
}

.blue_div h1
{
	margin: 0;
}

.main_info .left_div img
{
	width: 450px;
}

.main_info .left_div
{
	vertical-align: top;
	padding: 0;
}

.main_info .left_div,
.main_info .right_div
{
	display: table-cell;
}
.main_info .right_div
{
	padding-left: 15px;
	padding-top: 30px;
}

.about_main
{
	list-style-type: none;
	margin: 0px 0 30px 0;
	padding: 0;
}

.about_main li
{
	display: inline-block;
	width: 250px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 5px;
}

.about_main li img
{
	width: 80px;
}
.usl_main
{
	text-align: center;
}
.usl_main ul
{
list-style-type: none;
margin: 20px 0 0 0;
padding: 0;
}

.usl_main ul li
{
display: inline-block;
width: 460px;
vertical-align: top;
margin: 0 10px 10px 10px;
text-align: left;
}

.usl_main ul li div.txt_div,
.usl_main ul li img
{
display: inline-block;
vertical-align: middle;
}

.usl_main ul li div.txt_div
{
	width: 340px;
}

.usl_main ul li img
{
	width: 70px;
	margin-right: 10px;
}

.search_filter
{
	margin-bottom: 40px;
}

.search_filter h3
{
color: #25B8D7;
margin-bottom: 5px;
}

.nagruzka input[type="checkbox"]
{
	display: none;
}
.nagruzka label
{
	vertical-align: middle;
	margin: 0 10px;
	padding: 5px 10px;
	display: inline-block;
	border: 1px solid #202639;
	    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 17px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}
.nagruzka label img
{
max-width: 30px;
max-height: 20px;
margin-left: 10px;
vertical-align: middle;
}

.nagruzka label:hover,
.nagruzka input[type="checkbox"]:checked + label 
{
background: #25B8D7;
color: #fff;

}

/*поля ввода поиска*/
.inputs_search .input_item
{
margin-bottom: 15px;
}
.inputs_search h3
{
margin-bottom: 5px;
}

.inputs_search .cell
{
	vertical-align: top;
}
.inputs_search .inputs_div
{
	width: 450px;
}

.inputs_search .input_filrt
{
	width: 200px;
}


/*Анимация поиска*/
#filter_profile
{
	width: 80%;
	height: 240px;
}

#LWPOLYLINE polygon
{
	z-index: 200;
}
#ranges1
{
	display: none;
}
line, rect, circle, ellipse, path, text {
    vector-effect: non-scaling-stroke;
}

line,
rect,
circle,
ellipse,
path,
text {
  vector-effect: non-scaling-stroke;
}

/* основная */
.lt1 {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}
/* тонкая */
.lt2 {
  fill: none;
  stroke: black;
  stroke-width: .7;
}
/* осевая */
.lt3 {
  fill: none;
  stroke: red;
  stroke-width: .7;
  stroke-dasharray: 25, 4, 3, 4;
}
/* штриховая */
.lt4 {
  fill: none;
  stroke: black;
  stroke-width: .7;
  stroke-dasharray: 7, 4;
}
/* для линии обрыва */
.lt5 {
  fill: none;
  stroke: black;
  stroke-width: .7;
}
/* утолщеная */
.lt7 {
  fill: none;
  stroke: teal;
  stroke-width: 3.3;
}
/* пунктир 2 */
.lt8 {
  fill: none;
  stroke: black;
  stroke-width: .7;
  stroke-dasharray: 25, 4, 3, 4, 3, 4;
}
/* штриховая осн. */
.lt9 {
  fill: none;
  stroke: blue;
  stroke-width: 2;
  stroke-dasharray: 10, 5;
}
/* осевая осн. */
.lt10 {
  fill: none;
  stroke: blue;
  stroke-width: 2;
  stroke-dasharray: 25, 5, 3, 5;
}
/* тонкая */
.lt11 {
  fill: none;
  stroke: black;
  stroke-width: .5;
}

/* основная для масштаба 0.25 */
.lt1_025 {
  fill: none;
  stroke: blue;
  stroke-width: 8;
}

/* тонкая для масштаба 0.25 */
.lt2_025 {    
  stroke: black;
  stroke-width: 0.5;
}

/* тонкая линия, тип для точки, масштаба 0.25  */
.pt1 {
  fill: none;
  stroke-width: 2;
}

/*реализованные проекты (на главной)*/
#compl_prj_main_svg
{
height: 300px;
    width: 100%;
}

#compl_prj_main_svg path
{
	cursor: pointer;
}

.compl_prj_main
{
	position: relative;
}
.compl_prj_main .middle_prj
{
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -125px;
}

.compl_prj_main .middle_prj h3
{
	color: #22B7D7;
}

.compl_prj_main .middle_prj .btn
{
	margin-top: 20px;
}

#prj_content1,
#prj_content2,
#prj_content3,
#prj_content4,
#prj_content5,
#prj_content6,
#prj_content7
{
	visibility: hidden;
	display: none;
}


/*НОВОСТИ НА ГЛАВНОЙ*/
.news_main 
{
	margin-bottom: 30px;
}
.news_main ul
{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.news_main ul li
{
display: inline-block;
width: 300px;
vertical-align: top;
margin: 0 10px;
text-align: left;
position: relative;
}

.news_main ul li img
{
	width: 300px;
}
.news_main ul li div.item_img
{
	display: inline-block;
	position: relative;
}
.news_main ul li div.item_img::after
{
	content: "";
	display: inline-block;
	position: absolute;
	background: rgba(37, 184, 215, 0.6);
	width: 10px;
	right: 0;
	height: 100%;
}

.news_main ul li a
{
  display: table-cell;
  height: 50px;
  vertical-align: middle;	
}

.news_main ul li p
{
font-size: 14px;	
}



.news_main .line-details {
    z-index:2;
    position:relative;
}

.news_main .line-details div {
	position:absolute;
	height:45px;
	width:45px;
	text-align:center;
	color:#fff; /* bluebox option 2 */
}

.news_main .line-details .line-date {
	bottom:0;
	left:0;
	background-color: rgba(32, 38, 57, 0.82);/* bluebox option 1 */
	line-height:16px;
}

.news_main .line-details .line-date strong {
	font-weight:700;
	line-height:20px;
	margin-top:6px;
	font-size:18px;
	display:inline-block;
	width:100%;
}

.news_main .line-details .line-date span {
	position:absolute;
	top:22px;
	left:0;
	right:0;
	display:inline-block;
	width:100%;
}

/*Форма обратной связи*/
.form_main
{
	width: 100%;
    max-width: 1600px;
    margin: auto;
    position: relative;
	height: 340px;
	background: url(images/bg1.png);
	background-size: 1600px;
	background-position: 50% 50%; 
	margin-bottom: 100px;
}

.form_main h3 
{
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
	margin-bottom: 15px;
}

.form_main h3 i
{
	font-size: 25px;
	margin-right: 10px;
	vertical-align: middle;
}

.form_main .container
{
	padding-top: 30px;
} 

.form_main .contacts_block,
.form_main .form_block 
{
display: table-cell;
}

.form_main .form_block 
{
	    width: 560px;
}

.form_main input[type="text"],
.form_main textarea 
{
	border: 1px solid #1D1D1B;
	    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px 10px 45px;
    font-size: 14px;
    background-color: transparent; 
    width: 100%;
box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     font-family: 'Open Sans Regular', sans-serif;
     color: #fff;
     border: 1px solid #fff;
     outline: none;

}


.form_main form
{
	margin-top: 20px;
}

.form_main form table
{
	width: 100%;
}

.form_main form table td
{
	padding-bottom: 15px;
}

.form_main label
{
	    position: absolute;
         left: 20px;
    top: 6px;
    font-size: 20px;
    color: #fff;
}

.form_main form table td div
{
	position: relative;
}

.form_main .btn
{
background: transparent; 
color: #fff;
border-color: #fff;
}

.form_main .btn:hover
{
	background: #25B8D7;
}

.contacts_block .countries
{
	color: #fff;
}

.countries
{
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.countries #country_now 
{
cursor: pointer;
display: inline-block;
}

.countries #country_now img
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.countries #country_now i,
.cities #city_now i
{
	margin-left: 5px;
} 

.cities
{
	color: #fff;
	display: inline-block;
} 
.cities #city_now
{
	display: inline-block;
	cursor: pointer;
}

.countries_list,
.cities_list
{
	position: absolute;
}

.countries_list,
.cities_list
{
	
	display: none;
	width: auto;
	min-width: 120px;
	border: 1px solid #202639;
	margin-top: 5px;
	background: rgba(255, 255, 255, 0.88);
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.countries_list ul li,
.cities_list ul li
{
	    border-bottom: 1px solid #202639;
    padding: 3px 5px;
    color: #202639;
}

.countries_list ul li:hover,
.cities_list ul li:hover
{
background: #25B8D7;
cursor: pointer;	
}

.countries_list ul li:last-child:hover,
.cities_list ul li:last-child:hover 
{
	background: #25B8D7;
	-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

.countries_list ul li:first-child:hover,
.cities_list ul li:first-child:hover
{
	background: #25B8D7;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;
}

.countries_list ul li:last-child,
.cities_list ul li:last-child 
{
	border-bottom: none;
}

.countries_list ul li img
{
display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.countries_list ul,
.cities_list ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.contacts_items .contact_item
{
margin-top: 20px;
color: #fff;
}

.contacts_items .contact_item a
{
	color: #fff;
	border-bottom: 1px dashed #fff;
	text-decoration: none;
}

.contacts_items .contact_item a:hover
{
border-bottom: none;
}

.show_on_map a
{
	font-size: 12px;
}

.contact_item .map i
{
	font-size: 30px;
}

.contact_item .mobile i
{
	font-size: 35px;
}

.contact_item .mail i
{
	font-size: 20px;
}

.contacts_items .contact_item .icon
{
	width: 40px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}

.contacts_items .contact_item .contact_text p
{
	margin-bottom: 5px;
	font-size: 16px;
}

.contacts_items .contact_item .contact_text 
{
	display: inline-block;
	width: 250px;
	vertical-align: top;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	    width: 100%;
    min-width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #202639;
	position: relative;
	color: #fff;
}
.menu_bottom
{
	    margin-top: 20px;
}

.menu_bottom ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

.menu_bottom ul li
{
display: inline-block;
margin: 0 10px;
}

.menu_bottom ul li:first-child
{
	margin-left: 0;
}

.menu_bottom ul li a
{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.menu_bottom ul li a:hover
{
	text-decoration: underline;
}

.footer .table
{
	height: 100%;
}

.footer .social
{
	margin-top: 10px;
}

.footer .social ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer .social ul li a
{
	color: #fff;
	text-decoration: none;
	font-size: 25px;
}

.footer .social ul li a:hover
{
	color: #25B8D7;
}

.footer .social ul li:first-child
{
	text-transform: uppercase;
} 

.footer .social ul li
{
	display: inline-block;
	margin: 0 5px;
}

.footer .table .cell
{
	vertical-align: top;
}

.copyright
{
	font-size: 12px;
	margin-top: 20px;
}